* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 80%;
    height: 80%;

    border: 1px solid black;
}

.button-wrapper {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    gap: 20px;

}

button {
    color: white;
    background-color: gray;
    border: 1px solid white;
    width: 80px;
    height: 30px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(48, 48, 48);
}

.hidden { 
    display: none;
}

.ground {
    position: relative;
    width: 100%;
    height: 70%;
}

.boat {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;

    width: 10%;
    height: 20px;

    background-color: brown;

    left: 25%;
    bottom: 40px;

    transition: .7s ease-in-out;
}

.boat-right {
    left: 65%;
}

.water {
    position: absolute;
    width: 60%;
    height: 40px;
    background-color: blue;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.grass {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: green;

    bottom: 0;
    z-index: 0;
}

.passanger {
    cursor: pointer;
    width: 45px;
    height: 45px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.enemy {
    background-image: url('./assets/pngwing.com.png');
}

.friend {
    background-image: url('./assets/elf.png');
}

.upground {
    position: absolute;
    width: 20%;
    height: 50px;
    display: flex;
    gap: 4px;
    bottom: 40px;
    border: 1px solid black;
    align-items: end;
    justify-content: center;
}

.right-ground {
    right: 0;
}

.message {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    line-height: 50px;

    z-index: 2;
    color: black;
    text-align: center;

    font-size: 28px;
}

.try {
    position: absolute;
    top: 50px;
    left: 50%;

    width: max-content;
    height: max-content;

    font-size: 24px;

    transform: translateX(-50%);
}

.timer {
    position: absolute;
    bottom: 40px;
    left: 50%;

    width: max-content;
    height: max-content;

    font-size: 20px;

    transform: translateX(-50%);
}

.score-board {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 4px;
    position: absolute;
    left: 0;
    top: 50%;
    height: 70%;

    width: 100px;

    transform: translateY(-50%);

    border: 1px solid black;

    overflow-y: auto;

    >span {
        width: 100%;
        text-align: center;
        margin: 4px 0;
    }
}